*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background: linear-gradient(180deg, #0b2e26, #1f3d2b, #2f5d3a);
    color:#eef5f0;
    line-height:1.6;
}

/* NAVBAR */
.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #1f3d2b;
    z-index: 1000;
    color: white;
}

/* Move nav items to right */
nav {
    margin-left: auto;
}

/* Nav links hover effect */
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
    position: relative;
    transition: color 0.3s;
}

nav a:hover {
    color: #25eb4d;
}

/* underline hover animation */
nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #eb5d25;
    left: 0;
    color: white;
    bottom: -5px;
    transition: width 0.3s;
}

nav a:hover::after {
    width: 100%;
}

/* Nav button hover */
.nav-btn {
    margin-left: 25px;
    padding: 10px 22px;
    border: none;
    border-radius: 25px;
    background: #2563eb;
}

.nav-btn a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.nav-btn:hover {
    transform: translateY(-3px);
    color: white;
    box-shadow: 0 8px 20px rgba(37, 99, 235, 0.4);
}


/* HERO */
.about-hero{
    padding:160px 20px 90px;
    text-align:center;
    background:linear-gradient(180deg,#1f3d2b,#0b2e26);
}

.about-hero h1{
    font-size:44px;
    margin-bottom:12px;
}

.about-hero p{
    color:#cbd5c8;
    font-size:18px;
}



/* WHY US */
.why-us{
    padding:90px 40px;
    text-align:center;
}

.why-us h2{
    font-size:34px;
    margin-bottom:50px;
}

.why-grid{
    max-width:1100px;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
    gap:30px;
}

.why-card{
    background:rgba(255,255,255,0.1);
    padding:30px;
    border-radius:20px;
}

.why-card h3{
    margin-bottom:12px;
}

/* STATS */
.stats-section{
    padding:70px;
    background:#1f3d2b;
    display:flex;
    justify-content:center;
    gap:100px;
}

.stat h3{
    font-size:38px;
    color:#a3b736;
    text-align:center;
}

.stat p{
    text-align:center;
    color:#cbd5c8;
}

/* FOOTER */
footer{
    height:70px;
    background:black;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:16px;
}
