*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background: linear-gradient(180deg, #0b2e26, #1f3d2b, #2f5d3a);
    color:#eef5f0;
}

/* NAVBAR */
.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #1f3d2b;
    z-index: 1000;
    color: white;
}

/* Move nav items to right */
nav {
    margin-left: auto;
}

/* Nav links hover effect */
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
    position: relative;
    transition: color 0.3s;
}

nav a:hover {
    color: #25eb4d;
}

/* underline hover animation */
nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #eb5d25;
    left: 0;
    color: white;
    bottom: -5px;
    transition: width 0.3s;
}

nav a:hover::after {
    width: 100%;
}

/* Nav button hover */
.nav-btn {
    margin-left: 25px;
    padding: 10px 22px;
    border: none;
    border-radius: 25px;
    background: #2563eb;
}

.nav-btn a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.nav-btn:hover {
    transform: translateY(-3px);
    color: white;
    box-shadow: 0 8px 20px rgba(37, 99, 235, 0.4);
}


/* HERO */
.contact-hero{
    padding:160px 20px 80px;
    text-align:center;
    background:linear-gradient(180deg,#1f3d2b,#0b2e26);
}

.contact-hero h1{
    font-size:44px;
    margin-bottom:10px;
}

.contact-hero p{
    color:#cbd5c8;
    font-size:18px;
}

/* CONTACT SECTION */
.contact-section{
    max-width:1100px;
    margin:80px auto;
    padding:0 40px;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:60px;
}

/* INFO */
.contact-info{
    background:rgba(255,255,255,0.1);
    padding:35px;
    border-radius:22px;
}

.contact-info h2{
    margin-bottom:15px;
}

.contact-info p{
    color:#d7e2db;
    margin-bottom:25px;
    line-height:1.6;
}

.info-item{
    margin-bottom:15px;
    font-size:16px;
}

/* FORM */
.contact-form{
    background:rgba(255,255,255,0.1);
    padding:35px;
    border-radius:22px;
}

.contact-form h2{
    margin-bottom:20px;
}

.contact-form form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.contact-form input,
.contact-form textarea{
    padding:12px 15px;
    border:none;
    border-radius:10px;
    background:rgba(255,255,255,0.15);
    color:white;
    outline:none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder{
    color:#cbd5c8;
}

.contact-form button{
    margin-top:10px;
    padding:12px;
    border:none;
    border-radius:25px;
    background:#a3b736;
    color:#0b2e26;
    font-weight:bold;
    cursor:pointer;
}

.contact-form button:hover{
    background:#65c332;
}

/* FOOTER */
footer{
    height:70px;
    background:black;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:16px;
}
