* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: linear-gradient(180deg, #0b2e26, #1f3d2b, #2f5d3a);
}


/* NAVBAR */
.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #1f3d2b;
    z-index: 1000;
    color: white;
}

/* Move nav items to right */
nav {
    margin-left: auto;
}

/* Nav links hover effect */
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
    position: relative;
    transition: color 0.3s;
}

nav a:hover {
    color: #25eb4d;
}

/* underline hover animation */
nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #eb5d25;
    left: 0;
    color: white;
    bottom: -5px;
    transition: width 0.3s;
}

nav a:hover::after {
    width: 100%;
}

/* Nav button hover */
.nav-btn {
    margin-left: 25px;
    padding: 10px 22px;
    border: none;
    border-radius: 25px;
    background: #2563eb;
}

.nav-btn a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.nav-btn:hover {
    transform: translateY(-3px);
    color: white;
    box-shadow: 0 8px 20px rgba(37, 99, 235, 0.4);
}


/* HERO */
.hero {
    height: 100vh;
    background-image: url(../assets/Sunset-at-Pratapgad-Fort.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    color: #fff;
}

.hero-text {
    text-align: center;
    margin-top: 150px;
    margin-left: 1000px;
    animation: slideUp 1.2s ease;
}

.hero-text h1 {
    font-size: 100px;
    letter-spacing: 5px;
}

.hero-buttons button {
    margin: 10px;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: transform .3s;
}

.hero-buttons button:hover {
    transform: translateY(-5px);
}

.outline {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
}

/* FEATURES */
.why-choose {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding: 80px;
    /* background:#9c9c9c; */
    color: #e2e4e8;
}

/* LEFT */
.left {
    flex: 1.2;
}

.left h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.left h2 span {
    font-weight: 800;
}

.left p {
    max-width: 500px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.socials span {
    margin-right: 12px;
    font-size: 18px;
    cursor: pointer;
}

/* STATS */
.stats {
    display: flex;
    gap: 40px;
    margin-top: 40px;
}

.stat {
    text-align: center;
}

.stat .icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #1f2937;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px;
}

.stat h3 {
    font-size: 18px;
}

/* RIGHT */
.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-card {
    display: flex;
    gap: 15px;
    background: #5f8365;
    padding: 20px;
    border-radius: 15px;
    color: #fff;
    transition: transform 0.3s;
}

.info-card:hover {
    transform: translateY(-5px);
    background-color: #4d8d44;
}

.card-icon {
    background: #2f3b52;
    padding: 12px;
    border-radius: 10px;
}

/* DESTINATIONS */
.destinations {
    padding: 60px;
    background: #eef2ff;
}

.destination-cards {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

/* CARD */
.dest-card {
    flex: 1;
    height: 220px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform .3s;
}

.dest-card:hover {
    transform: scale(1.05);
}

/* IMAGE */
.dest-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* TEXT OVER IMAGE */
.dest-card span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.6),
            transparent);
}


/* ANIMATION */
@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.vacation-section {

    padding: 100px;
    background: linear-gradient(180deg, #0b2e26, #1f3d2b);
    color: #e5efe9;
}

/* TOP SECTION */
.vacation-top {
    margin-left: 200px;
    display: flex;
    gap: 60px;
    align-items: center;
}

/* IMAGE GRID */
.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 20px;
}

.image-grid img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}

/* CONTENT */
.vacation-content h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.vacation-content p {
    color: #cdd7d1;
    max-width: 420px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.vacation-content button {
    background: #a3b736;
    border: none;
    padding: 12px 28px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
}

/* TITLE */
.explore-title {
    text-align: center;
    margin: 100px 0 40px;
    font-size: 28px;
}

/* NATURE SECTION */
.nature-section {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 50px;
    position: relative;
}

/* INFO BOXES */
.info-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 15px 18px;
    border-radius: 10px;
    font-size: 14px;
    width: 440px;
}

.box1 {
    margin-bottom: 30px;
    margin-top: 200px;
    margin-left: 150px;
}

.box2 {
    margin-left: -290px;
    margin-top: -100px;
}

/* IMAGE */
.nature-image {
    position: relative;
    border: 2px solid #a3b736;
    padding: 10px;
}

.nature-image img {
    width: 520px;
    height: 360px;
    object-fit: cover;
    border-radius: 6px;
}

/* DOTS */
.dot {
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
}

.d1 {
    top: 40px;
    left: 50px;
}

.d2 {
    bottom: 60px;
    left: 120px;
}

.d3 {
    top: 70px;
    right: 80px;
}




footer {
    height: 70px;
    background-color: black;
    font-size: 20px;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}